.page-content
  - if current_user
    .features
      .container
        .row
          .col-5
            = link_to root_path do
              = image_tag("main_photo.png", width: "460", height: '280')
          .col-7
            = line_chart({"2021-01-01" => 2, "2021-01-02" => 3, "2021-01-04" => 1})
  - else
    .features
      .container
        .row.row-cols-1.row-cols-sm-2.row-cols-md-4.g-4
          .col
            .feature-card.d-flex.align-items-center.justify-content-center.text-center
              .feature-content
                .feature-title RECOMMENDED COLUMN
                .separate
                .feature-subtitle オススメ
          .col
            .feature-card.d-flex.align-items-center.justify-content-center.text-center
              .feature-content
                .feature-title RECOMMENDED COLUMN
                .separate
                .feature-subtitle オススメ
          .col
            .feature-card.d-flex.align-items-center.justify-content-center.text-center
              .feature-content
                .feature-title RECOMMENDED COLUMN
                .separate
                .feature-subtitle オススメ
          .col
            .feature-card.d-flex.align-items-center.justify-content-center.text-center
              .feature-content
                .feature-title RECOMMENDED COLUMN
                .separate
                .feature-subtitle オススメ
  - if current_user
    .products
      .container
        .row
          .col-3.d-flex.justify-content-center
            = link_to new_menu_item_path(meal_type: 'morning') do
              = image_tag("morning.png", width: "100")
          .col-3.d-flex.justify-content-center
            = link_to new_menu_item_path(meal_type: 'lunch') do
              = image_tag("lunch.png", width: "100")
          .col-3.d-flex.justify-content-center
            = link_to new_menu_item_path(meal_type: 'dinner') do
              = image_tag("dinner.png", width: "100")
          .col-3.d-flex.justify-content-center
            = link_to new_menu_item_path(meal_type: 'snack') do
              = image_tag("snack.png", width: "100")

  .products
    .container
      .row.row-cols-1.row-cols-sm-2.row-cols-md-4.g-4
        - if current_user
          - @menu_items.each do |menu_item|
            .col
              .product-card
                .card-head
                  = image_tag menu_item.image, class: 'card-img-top'
                  .head-text.d-flex.align-items-center
                    = "#{menu_item.meal_type} #{menu_item.serve_time}"
        - else
          - 8.times do |i|
            .col
              .product-card
                .card-head
                  = image_tag('sample-images.png', class: 'card-img-top')
                  .head-text.d-flex.align-items-center 2021.05.17 23:25
                .card-body
                  %p.card-text 魚を食べて頭もカラダも元気に！知っておきたい魚を食べるメリ…
                .card-footer
                  .tags
                    .tag #魚料理
                    .tag #和食
                    .tag #DHA
  .page-actions.d-flex.align-items-center.justify-content-center
    %button.btn.btn-gradient{:type => "button"} コラムをもっと見る

%footer.bg-dark2
  .container
    .flex-wrap.justify-content-center
      %ul.nav.nav-pills.text-11
        %li.nav-item
          %a.nav-link{:href => "#"} 会員登録
        %li.nav-item
          %a.nav-link{:href => "#"} 運営会社
        %li.nav-item
          %a.nav-link{:href => "#"} 利用規約
        %li.nav-item
          %a.nav-link{:href => "#"} 個人情報の取扱について
        %li.nav-item
          %a.nav-link{:href => "#"} 特定商取引法に基づく表記
        %li.nav-item
          %a.nav-link{:href => "#"} お問い合わせ