%header.bg-dark2
  .container
    .d-flex.flex-wrap.justify-content-center
      %a.d-flex.align-items-center.me-md-auto{:href => "/"}
        %img.header-logo-img{:src => "./assets/logo.png"}/
      %ul.nav.nav-pills.text-16
        %li.nav-item
          %a.nav-link{:href => "#"}
            = image_tag("memo.png", width: "20")
            Record
        %li.nav-item
          %a.nav-link{:href => "#"}
            = image_tag("challenge.png", width: "20")
            Challenge
        %li.nav-item
          %a.nav-link{:href => "#"}
            = image_tag("info.png", width: "20")
            News
        %li.nav-item.nav-item-last
          - if current_user
            .dropdown
              %button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                = current_user.full_name
              .dropdown-menu{"aria-labelledby" => "dropdownMenuButton"}
                %a.dropdown-item{:href => "#"} Profile
                = link_to 'Sign out', destroy_user_session_path, class: 'dropdown-item', method: :delete
          - else
            = link_to 'Signup', new_user_registration_path, class: 'sign-up'

.page-content
  .features
    .container
      .row.row-cols-1.row-cols-sm-2.row-cols-md-4.g-4
        .col
          .feature-card.d-flex.align-items-center.justify-content-center.text-center
            .feature-content
              .feature-title RECOMMENDED COLUMN
              .separate
              .feature-subtitle オススメ
        .col
          .feature-card.d-flex.align-items-center.justify-content-center.text-center
            .feature-content
              .feature-title RECOMMENDED COLUMN
              .separate
              .feature-subtitle オススメ
        .col
          .feature-card.d-flex.align-items-center.justify-content-center.text-center
            .feature-content
              .feature-title RECOMMENDED COLUMN
              .separate
              .feature-subtitle オススメ
        .col
          .feature-card.d-flex.align-items-center.justify-content-center.text-center
            .feature-content
              .feature-title RECOMMENDED COLUMN
              .separate
              .feature-subtitle オススメ
  .products
    .container
      .row.row-cols-1.row-cols-sm-2.row-cols-md-4.g-4
        .col
          .product-card
            .card-head
              %img.card-img-top{:alt => "...", :src => "./assets/product-img.jpeg"}/
              .head-text.d-flex.align-items-center 2021.05.17 23:25
            .card-body
              %p.card-text 魚を食べて頭もカラダも元気に！知っておきたい魚を食べるメリ…
            .card-footer
              .tags
                .tag #魚料理
                .tag #和食
                .tag #DHA
        .col
          .product-card
            .card-head
              %img.card-img-top{:alt => "...", :src => "./assets/product-img.jpeg"}/
              .head-text.d-flex.align-items-center 2021.05.17 23:25
            .card-body
              %p.card-text 魚を食べて頭もカラダも元気に！知っておきたい魚を食べるメリ…
            .card-footer
              .tags
                .tag #魚料理
                .tag #和食
                .tag #DHA
        .col
          .product-card
            .card-head
              %img.card-img-top{:alt => "...", :src => "./assets/product-img.jpeg"}/
              .head-text.d-flex.align-items-center 2021.05.17 23:25
            .card-body
              %p.card-text 魚を食べて頭もカラダも元気に！知っておきたい魚を食べるメリ…
            .card-footer
              .tags
                .tag #魚料理
                .tag #和食
                .tag #DHA
        .col
          .product-card
            .card-head
              %img.card-img-top{:alt => "...", :src => "./assets/product-img.jpeg"}/
              .head-text.d-flex.align-items-center 2021.05.17 23:25
            .card-body
              %p.card-text 魚を食べて頭もカラダも元気に！知っておきたい魚を食べるメリ…
            .card-footer
              .tags
                .tag #魚料理
                .tag #和食
                .tag #DHA
        .col
          .product-card
            .card-head
              %img.card-img-top{:alt => "...", :src => "./assets/product-img.jpeg"}/
              .head-text.d-flex.align-items-center 2021.05.17 23:25
            .card-body
              %p.card-text 魚を食べて頭もカラダも元気に！知っておきたい魚を食べるメリ…
            .card-footer
              .tags
                .tag #魚料理
                .tag #和食
                .tag #DHA
        .col
          .product-card
            .card-head
              %img.card-img-top{:alt => "...", :src => "./assets/product-img.jpeg"}/
              .head-text.d-flex.align-items-center 2021.05.17 23:25
            .card-body
              %p.card-text 魚を食べて頭もカラダも元気に！知っておきたい魚を食べるメリ…
            .card-footer
              .tags
                .tag #魚料理
                .tag #和食
                .tag #DHA
        .col
          .product-card
            .card-head
              %img.card-img-top{:alt => "...", :src => "./assets/product-img.jpeg"}/
              .head-text.d-flex.align-items-center 2021.05.17 23:25
            .card-body
              %p.card-text 魚を食べて頭もカラダも元気に！知っておきたい魚を食べるメリ…
            .card-footer
              .tags
                .tag #魚料理
                .tag #和食
                .tag #DHA
        .col
          .product-card
            .card-head
              %img.card-img-top{:alt => "...", :src => "./assets/product-img.jpeg"}/
              .head-text.d-flex.align-items-center 2021.05.17 23:25
            .card-body
              %p.card-text 魚を食べて頭もカラダも元気に！知っておきたい魚を食べるメリ…
            .card-footer
              .tags
                .tag #魚料理
                .tag #和食
                .tag #DHA
  .page-actions.d-flex.align-items-center.justify-content-center
    %button.btn.btn-gradient{:type => "button"} コラムをもっと見る

%footer.bg-dark2
  .container
    .flex-wrap.justify-content-center
      %ul.nav.nav-pills.text-11
        %li.nav-item
          %a.nav-link{:href => "#"} 会員登録
        %li.nav-item
          %a.nav-link{:href => "#"} 運営会社
        %li.nav-item
          %a.nav-link{:href => "#"} 利用規約
        %li.nav-item
          %a.nav-link{:href => "#"} 個人情報の取扱について
        %li.nav-item
          %a.nav-link{:href => "#"} 特定商取引法に基づく表記
        %li.nav-item
          %a.nav-link{:href => "#"} お問い合わせ