.page-content
  .features
    .container
      .row
        .col-4
          .feature-card.d-flex.align-items-center.justify-content-center.text-center
            .feature-content
              .feature-title BODY RECORD
              .separate
              .feature-subtitle Body Record
        .col-4
          .feature-card.d-flex.align-items-center.justify-content-center.text-center
            .feature-content
              .feature-title MY EXERCISE
              .separate
              .feature-subtitle My Exercise
        .col-4
          .feature-card.d-flex.align-items-center.justify-content-center.text-center
            .feature-content
              .feature-title MY DIARY
              .separate
              .feature-subtitle My Diary
  .features.mt-4
    .container
      .row
        .col-12
          = line_chart(@person_bodies)

  .features.mt-5
    .container
      .row
        .col-12
          .feature-card.overflow-auto
            .row
              - @exercise_people.each do |exercise_person|
                .row
                  .col-2
                    %h4.text-white My Exercise
                  .col-2
                    %h4.text-white= exercise_person.exercise_date
                - current_user.decorate.exercise_people_by_date(exercise_person.exercise_date).each do |exercise_person|
                  .col-6
                    %span.text-white= exercise_person.exercise.note
                    %span.text-warning.time-exercise= exercise_person.decorate.time_adjustment
                    %div.text-warning=exercise_person.decorate.energy_consumption

              
  .features.mt-5
    .container
      .row
        - @person_diaries.each do |diary|
          .col-3.mt-2
            .feature-card.bg-light.border.border-dark
              .row
                .col-12
                  %span.text-black
                    = diary.diary_date
              .row
                .col-12
                  = diary.note

        
